<div class="event-table-container">
	<table mat-table [dataSource]="events" class="event-table">

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>
			Time (UTC)
		</th>
        <td mat-cell *matCellDef="let row">
			{{ row.timestamp | date:'medium' }}
		</td>
      </ng-container>

	  <!-- Level Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>
			Level
		</th>
        <td mat-cell *matCellDef="let row">
			<mat-icon aria-hidden="false" aria-label="Example home icon">{{ row.level | lowercase }}</mat-icon>
		</td>
      </ng-container>

	  <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>
			Message
		</th>
        <td mat-cell *matCellDef="let row">
			{{ row.message }}
		</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>