<div class="event-table-container">
	<table mat-table [dataSource]="getShowEvents()" class="event-table">

      <!-- Time Column -->
      <ng-container matColumnDef="event-time">
        <th mat-header-cell *matHeaderCellDef>
			Time (UTC)
		</th>
        <td mat-cell *matCellDef="let row">
			<div>
				{{ row.timestamp }}
			</div>
		</td>
      </ng-container>

	  <!-- Level Column -->
      <ng-container matColumnDef="event-level">
        <th mat-header-cell *matHeaderCellDef>
			Level
		</th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color">
			<div class="level">
				<mat-icon  aria-hidden="false" aria-label="Example home icon">{{ row.level | lowercase }}</mat-icon>
				<div class="level-text">
					{{ row.levelText }}
				</div>
			</div>
		</td>
      </ng-container>

	  <!-- Message Column -->
      <ng-container matColumnDef="event-message">
        <th mat-header-cell *matHeaderCellDef>
			Message
		</th>
        <td mat-cell *matCellDef="let row">
			{{ row.message }}
		</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
	  		(mouseover)="changeHover(row, true)" 
			(mouseleave)="changeHover(row, false)"
			[ngClass]="row.hover ? 'event-hover' : ''"></tr>
    </table>
</div>